DJANGO_SECRET_KEY=d6120d3e2853ca55742df1eca9f5f98f2982ec6b7d716b39954993cc86d44c14
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,*
DATABASE_URL=postgresql://sa:Subash%40%402314%23%2321@db:5432/GlobalMitraDB
EMAIL_HOST_USER=kkatwal78@gmail.com
EMAIL_HOST_PASSWORD=fkfs fzqg wmqc nyjz
FRONTEND_URL=http://localhost:8000
GOOGLE_CLIENT_ID=942297141940-aue2ve8k6aeepm8ke5j3gs9o732bfqkf.apps.googleusercontent.com
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
DEFAULT_FROM_EMAIL=no-reply@globalmitra.com
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173